
a{
	text-decoration : none;
	color : #000000;
}
header{
	text-align : center;	
	margin : 20px;
}
article{
	margin-top : 50px;
	margin-bottom : 50px;
	display: flex;
	justify-content: center;
    align-items: center;
}
footer{
	text-align:center; 
	color:#2F3336;
}

.outCont{
	display : inline-block;
	
	display: flex;
	justify-content: center;
    align-items: center;
	
	border-color : #D8D8D8;
	border-style : solid;
	border-width : 2px;
	border-radius : 10%;
	
	width : 270px;
	height : 250px;
	
	margin : 10px;
}
.outCont:hover{
	filter : brightness(150%);
}
.inCOnt{
	padding : 10px;
	text-align : center;
}


@media screen and (max-width: 769px) {
	article{
		flex-direction : column;
	} 
}